{% extends "base.html" %}
{% block title %}
    selas ranking
{% endblock %}

{% block content %}
    <h3>{{ name }}</h3>
    <table class="table table-bordered table-responsive">
        <tr>
            <td>序号</td>
            <td>id</td>
            <td>item_number</td>
            <td>goods_id</td>
            <td>total_sales</td>
        </tr>
        {% if data %}

            {% for d in data %}
                <tr>
                    <td>{{ d.indexes }}</td>
                    <td>{{ d.id }}</td>
                    <td>{{ d.item_number }}</td>
                    <td>{{ d.goods_id }}</td>
                    <td>{{ d.total_sales }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
{% endblock %}
